<div class="col-xs-12 col-md-6"
*ngFor='let i of list'>
  <form #postForm="ngForm">
    <img src="{{i.file}}" alt="no Image available">
    <span>{{i.title}}</span>
    <div class="form-group">
      <youtube-player 
      [videoId]="i.videoUrl" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="500" 
      >
      </youtube-player>
    </div>
  </form>
  <hr />
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <button 
    class="btn btn-primary"
    (click)="getList()"
    >Reset</button>
    <button 
    class="btn btn-info"
    routerLink="/add"
    >Add</button>
    <button 
    class="btn btn-warning"
    (click)="getJson()"
    >get JSON</button>
    <button 
    class="btn btn-primary"
    (click)="filterByDate()"
    >Filter By Date: </button>
    <dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig"></dp-date-picker>
  </div>
</div>